Sub 发送邮件()
    Dim path As String
    path = ThisWorkbook.path
    Application.ScreenUpdating = False
    Dim OutApp As Object
    Dim OutMail As Object
    Dim Body As String
    Dim fname As String, fname1 As String, fname2 As String, fname3 As String

    Set OutApp = CreateObject("Outlook.Application")
    '运行代码弹出OUTLOOK配置界面，配置qq邮箱（在QQ邮箱的设置下开启pop3和imap,生成的授权码当密码填在outlook里，在其他设置里端口根据qq邮箱帮助里填写）
    Set OutMail = OutApp.CreateItem(0)

    Body = Cells(3, 5)    '这里设置你的邮件内容
    
    '这里设置要添加附件的文件路径
    'fname = path & "\嘉享德借款明细对接债权" & Format(Date - 1, "yyyy.M.D") & ".xlsx"
    'fname1 = path & "\B.xlsx"
    'fname2 = path & "\C.xlsx"
    
    On Error Resume Next
    With OutMail
        .To = ""                  '收件人
        .CC = ""               '抄送人-所有接收者都知道哪些人收到此邮件
        '.BCC = "test5@qq.com; test5@qq.com"             '密送人-收件人不知道同时发送给了哪些人
        .Subject = Cells(2, 5)                           '这是邮件主题
        .Body = Body                                    '这是邮件内容
        '.Attachments.Add fname                          '添加附件
        '.Attachments.Add fname1
        '.Attachments.Add fname2
        
        .Display
        .Send
    End With
    On Error GoTo 0
    
    Set OutMail = Nothing
    Set OutApp = Nothing

Application.ScreenUpdating = True
End Sub
Sub 蕾蕾()
    Dim sFile$
    Dim path As String
    path = ThisWorkbook.path
    Application.ScreenUpdating = False
    Dim OutApp As Object
    Dim OutMail As Object
    Dim Body As String
    Dim fname As String, fname1 As String, fname2 As String, fname3 As String

    Set OutApp = CreateObject("Outlook.Application")
    '运行代码弹出OUTLOOK配置界面，配置qq邮箱（在QQ邮箱的设置下开启pop3和imap,生成的授权码当密码填在outlook里，在其他设置里端口根据qq邮箱帮助里填写）
    Set OutMail = OutApp.CreateItem(0)

    'Body = Range("a1:b15")    '这里设置你的邮件内容
    
    
     sFile = sFile + "<table border=""1"">" '设置表格边线大小
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(1, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(2, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(3, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(4, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(5, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(6, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(8, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(9, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(10, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(12, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(13, A).Text + "</td>" '
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<td>" + Cells(14, A).Text + "</td>"
            Next
            sFile = sFile + "</tr>" '一行结束
            sFile = sFile + "<tr>" '一行开始
            For A = 1 To 2
                sFile = sFile + "<th>" + Cells(15, A).Text + "</th>"
            Next
            sFile = sFile + "</tr>" '一行结束
            
            
            
            
    On Error Resume Next
    With OutMail
        .To = ""                  '收件人
        '.CC = ""               '抄送人-所有接收者都知道哪些人收到此邮件
        '.BCC = "test5@qq.com; test5@qq.com"             '密送人-收件人不知道同时发送给了哪些人
        .Subject = Cells(2, 5)                           '这是邮件主题
        .HtmlBody = sFile                                    '这是邮件内容
        '.Attachments.Add fname                          '添加附件
        '.Attachments.Add fname1
        '.Attachments.Add fname2
        
        .Display
        .Send
    End With
    On Error GoTo 0
    
    Set OutMail = Nothing
    Set OutApp = Nothing

Application.ScreenUpdating = True
End Sub

Sub 发送邮件2()
    Dim path As String
    path = ThisWorkbook.path
    Application.ScreenUpdating = False
    Dim OutApp As Object
    Dim OutMail As Object
    Dim Body As String
    'Dim fname As String, fname1 As String, fname2 As String, fname3 As String

    Set OutApp = CreateObject("Outlook.Application")
    '运行代码弹出OUTLOOK配置界面，配置qq邮箱（在QQ邮箱的设置下开启pop3和imap,生成的授权码当密码填在outlook里，在其他设置里端口根据qq邮箱帮助里填写）
    Set OutMail = OutApp.CreateItem(0)

    Body = Cells(7, 5)    '这里设置你的邮件内容
    
    On Error Resume Next
    With OutMail
        .To = ""                  '收件人
        .CC = ""               '抄送人-所有接收者都知道哪些人收到此邮件
        '.BCC = "test5@qq.com; test5@qq.com"             '密送人-收件人不知道同时发送给了哪些人
        .Subject = Cells(6, 5)                           '这是邮件主题
        .Body = Body                                    '这是邮件内容
       
        
        .Display
        '.Send
    End With
    On Error GoTo 0
    
    Set OutMail = Nothing
    Set OutApp = Nothing

Application.ScreenUpdating = True
End Sub

